<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Lista de Notas</h2>
        
        <a href="/nota">Ir al formulario</a>
        
        <table>
            <thead>
                <tr>
                    <th>Contenido</th>
                </tr>
            </thead>
                
            <tbody>
                <tr th:each="pepe : ${listaDeNotas}">
                    <td th:text="${pepe.contenido}">
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
