<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymelaf.org">
    <head>
        <title>Registrar un usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <span th:if="${error != null}" th:text="${error}" style="color: red;"></span>
        <span th:if="${success != null}" th:text="${success}" style="color: green;"></span>

        <form action="/usuario/registro" method="POST">
            <input type="text" name="username" th:value="${username}"/>
            <input type="password" name="password" th:value="${password}"/>
            <input type="password" name="password2" th:value="${password2}"/>
            <input type="submit" value="Registrarse"/>
        </form>
    </body>
</html>
